<h1>Login</h1>

<form [formGroup]="loginForm" name="loginForm" novalidate autocomplete="off"
*ngIf="loginForm">

    <mat-form-field appearance="fill">
        <mat-label>Correu</mat-label>
        <input matInput id="mail" type="text" name="mail"
            formControlName="mail" maxlength="40"/>
        <mat-error>Aquest camp és obligatori</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput id="pwd" type="pwd" name="pwd"
            formControlName="pwd" maxlength="40"/>
        <mat-error>Aquest camp és obligatori</mat-error>
    </mat-form-field>

    <button type="button" mat-raised-button color="primary" (click)="login()">Entrar</button>    
  
</form>
